.section1 {
  height: calc(100vh - 100px);
  color: var(--hvid);
  background-image: url(../assets/topbillede.jpg);
  background-position: center;
  background-size: cover;
}

.section1__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section1__heading {
  line-height: 1;
}

.section1__container__heading {
  line-height: 1;
  padding-bottom: 1rem;
}

.section1__container__subheading {
  padding-bottom: 1rem;
}
