.section3 {
  height: 80vh;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.section3__container {
  width: 50%;
  height: 100%;
}

.section3__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section3__container--subheading {
  width: 50%;
}

.section3__heading {
  font-size: 50px;
  padding-bottom: 1rem;
}

.section3__subheading {
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .section3 {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
  }

  .section3__container {
    width: 100%;
    height: 300px;
  }

  .section3__container--subheading {
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
  }
}
